main {
  width: 100%;
  height: 100%;
}
.login ul li {
  float: left;
  margin: 0 1vh;
}
.login ul li a,
.login ul li a .fa {
  font-size: 2vh;
  cursor: pointer;
}
.login ul a .fa {
  padding-right: 1vh;
}
.login {
  float: right;
  margin-top: 5vh;
  margin-right: 10vh;
}
.list {
  margin: 3vh;
  float: left;
}
.list .fa {
  font-size: 3vh;
  cursor: pointer;
}
.background {
  height: 100%;
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(https://images.pexels.com/photos/356269/pexels-photo-356269.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  filter: blur(3px);
}
.cover {
  height: 100%;
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
@media (min-width: 800px) {
  .player {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .player {
    width: 1000px;
  }
}
@media (min-width: 1400px) {
  .player {
    width: 1200px;
  }
}
@media (min-width: 1600px) {
  .player {
    width: 1200px;
  }
}
@media (min-width: 2000px) {
  .player {
    width: 1400px;
  }
}
.player {
  height: 70vh;
  margin: 0 auto;
  padding-top: 15vh;
  position: relative;
}
.player .show {
  float: left;
  margin-left: 10vh;
}
.img {
  height: 40vh;
  width: 40vh;
  background: url(https://images.pexels.com/photos/356269/pexels-photo-356269.jpeg?h=350&auto=compress&cs=tinysrgb) center no-repeat;
  background-size: cover;
}
.player .control>span>.fa {
  font-size: 3.5vh;
  margin-right: 2vh;
  cursor: pointer;
 }
 .player .control {
   margin-top: 5vh;
 }
 .player .control .volume-control {
   float: right;
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 .player .control .volume {
   width: 10vh;
   height: 0.8vh;
   background-color: #222;
   border-radius: 0.5vh;
   cursor: pointer;
 }
 .player .control .volume-now {
   width: 80%;
   height: 0.8vh;
   background-color: #999;
   border-radius: 0.5vh;
 }
 .player .control .volume-control .fa {
   font-size: 3.5vh;
   margin-right: 1.5vh;
   cursor: pointer;
 }
.handle {
  margin-left: 60vh;
}
.details {
  padding: 0 0 10vh 0;
}
.details .title {
  font-size: 4vh;
  padding-bottom: 3vh;
}
.details .songer {
  font-size: 2.2vh;
}
.like {
  display: flex;
}
.like span {
  font-size: 2.5vh;
  flex: 1;
  cursor: pointer;
}
.like span i {
  padding-right: 1vh;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress-bar .bar {
  flex: 1;
  height: 1vh;
  background-color: #222;
  border-radius: 0.5vh;
  margin: 6vh 0 6vh 2vh;
  cursor: pointer;
  position: relative;
}
.progress-bar .bar .current {
  width: 10%;
  height: 1vh;
  background-color: #999;
  border-radius: 0.5vh;
  position: relative;
}
.progress-bar .time {
  font-size: 2vh;
  float: left;
}
.lyrics .next-lyric {
  color: rgba(214, 214, 214, 0.5)
}
.album {
  height: 30vh;
  width: 100%;
  padding: 0 10vh;
  background-color: rgba(73, 73, 73, 0.4);
  position: relative;
  overflow: hidden;
}
.album li:hover {
  box-shadow: 0 0 .5vh .5vh rgba(146, 146, 146, 0.8);
}
.album li.active{
  box-shadow: 0 0 .5vh .5vh rgba(146, 146, 146, 0.8);
}
.album .fa {
  font-size: 6vh;
  color: rgba(202, 202, 202, 0.4);
  transition: all 0.5s;
  opacity: 0;
  cursor: pointer;
}
.album .fa:hover {
  color: #eee;
}
.album .fa-chevron-left {
  position: absolute;
  left: 10vh;
  top: 12vh;
}
.album .fa-chevron-right {
  position: absolute;
  right: 10vh;
  top: 12vh;
}
.album:hover .fa {
  opacity: 1;
}
.album ul {
  overflow: hidden;
  margin: 0 10vh;
}
.album .category {
  margin: 3vh;
  float: left;
  text-align: center;
  cursor: pointer;
}
.album .category .pic {
  height: 20vh;
  width: 20vh;
  background: url(http://p3.music.126.net/GhIoJt4GDH1pcDPO9BaJWw==/109951162955657454.jpg) no-repeat center;
  background-size: cover;
}
.album .category p {
  margin-top: 0.5vh;
}
footer {
  position: absolute;
  bottom: 0;
  right: 2vh;
  padding: 0 10px;
}
footer span,
footer a,
footer .fa {
  color: #aaa;
  font-size: 1.8vh;
}
footer a {
  margin: 0 1vh;
}
footer a i {
  margin-right: 0.5vh;
}