@media screen and (min-width: 768px) {
  header .details {
    display: none;
  }

  header .login .login-list {
    display: none;
  }

  main {
    width: 100%;
    height: 100%;
  }

  .disc-container {
    display: none;
  }

  main .player {
    height: 70vh;
  }

  .album {
    height: 30vh;
    width: 100%;
    background-color: rgba(73, 73, 73, 0.4);
    position: relative;
    overflow: hidden;
  }

  .m-album {
    display: none;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    height: 5vh;
    align-items: center;
  }

  header .login {
    margin: 0 0 0 2vw;
    display: flex;
    flex-direction: row;
    font-size: 18px;
  }

  header .login ul {
    display: none;
  }

  header .login .login-list .fa-list {
    font-size: 24px;
  }

  header .login .login-list {
    display: block;
  }

  header .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-left: 4vw;
    overflow: hidden;
  }

  header .login .details .title,
  header .login .details .songer {
    font-size: 14px;
    font-weight: normal;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  header .login .details .title {
    padding: 0;
    margin-right: 2vw;
  }

  main {
    background: url(http://pic.5442.com/2012/0924/05/57.jpg) center no-repeat;
    background-size: cover;
  }

  header {
    position: absolute;
    width: 100%;
  }

  header a {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 30px;
  }

  main {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  main .background {
    height: 100vh;
  }

  .disc-container {
    position: relative;
  }

  .point {
    width: 26vw;
    position: absolute;
    left: 45vw;
    top: 0;
  }

  .ring {
    width: 82vw;
  }

  .light {
    width: 82vw;
    position: absolute;
    display: block;
  }

  .m-cover {
    width: 50vw;
    position: absolute;
    border-radius: 50%;
    display: block;
  }

  .pause.pausing {
    width: 15vw;
    position: absolute;
    z-index: 2;
    display: block;
  }

  .pause {
    display: none;
  }

  .disc-container .light,
  .disc-container .m-cover {
    animation: circle 20s infinite linear;
    animation-play-state: paused;
  }

  .disc-container.playing .light,
  .disc-container.playing .m-cover {
    animation-play-state: running;
  }

  .disc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 19vw;
  }

  main .player {
    margin: 0 5vw;
    padding-top: 0;
  }

  .show-pic {
    display: none;
  }

  .handle .details {
    display: none;
  }

  .handle .like {
    display: none;
  }

  /* .handle .lyrics {
    display: none;
  }
  .handle .m-lyric {
    display: block;
    margin-top: 2vh;
    height: 20vh;
    overflow: hidden;
  } */
  .player .handle {
    margin: 0;
  }

  main .album {
    display: none;
  }

  /* main .m-album .box {
    height: 100vh;
    overflow-y: scroll;
  } */
  main .m-album .box ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    justify-content: space-around
  }

  .m-album li:hover {
    box-shadow: 0 0 .5vw .5vw rgba(146, 146, 146, 0.8);
  }

  .m-album li.active {
    box-shadow: 0 0 .5vw .5vw rgba(146, 146, 146, 0.8);
  }

  .m-album .category {
    margin: 3vw;
    text-align: center;
    cursor: pointer;
  }

  .m-album .category .pic {
    height: 36vw;
    width: 36vw;
    background: url(http://p3.music.126.net/GhIoJt4GDH1pcDPO9BaJWw==/109951162955657454.jpg) no-repeat center;
    background-size: cover;
  }

  .album .category p {
    margin-top: 2vw;
  }

  footer {
    display: none;
  }
}

main .none {
  display: none;
}

main .show {
  display: block;
}

main .modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

main .modal .flip-modal-login,
main .modal .flip-modal-register {
  width: 25%;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}

main .modal .flip-modal {
  color: #000;
  margin: 20px;
  position: relative;
  text-align: center;
}

main .modal .close {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

main .modal .close .fa {
  color: #000;
}

main .modal .switch {
  display: inline-block;
  margin-bottom: 20px;
}

main .modal .switch span {
  cursor: pointer;
}

main .modal .switch .switch-login,
main .modal .switch .switch-register {
  color: #000;
  font-size: 20px;
  margin: 0 10px;
  padding: 5px;
}

main .modal .switch .active {
  border-bottom: 3px solid #000;
  font-weight: bold;
}

main .modal.modal .input-area .button {
  height: 2em;
  padding: 5px 10px;
  border: none;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  color: #000;
}

main .modal .input-area {
  position: relative;
  margin: 10px;
}

main .modal .input-area input {
  color: #000;
}

main .modal .input-area .label {
  color: #000;
}

main .modal .input-area input[type=text],
main .modal .input-area input[type=password] {
  width: 100%;
  padding: 10px 10px 10px 30px;
  outline: none;
}

main .modal.login-modal .flip-modal-login,
main .modal.register .flip-modal-register {
  transform: translate(-50%, -50%) rotateY(0deg);
  backface-visibility: hidden;
  transition: all 1s;
}

main .modal.login-modal .flip-modal-register,
main .modal.register .flip-modal-login {
  transform: translate(-50%, -50%) rotateY(180deg);
  backface-visibility: hidden;
  transition: all 1s;
}

.login {
  z-index: 9998;
}

.login ul li {
  float: left;
  margin: 0 1vh;
}

.login ul li,
.login ul li .fa {
  font-size: 2vh;
  cursor: pointer;
}

.login ul .fa {
  padding-right: 1vh;
}

.login ul .login-list {
  display: none;
}

.login {
  float: right;
  margin-top: 5vh;
  margin-right: 10vh;
}

.list {
  margin: 3vh;
  float: left;
}

.list .fa {
  font-size: 3vh;
  cursor: pointer;
}

.background {
  height: 100%;
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(https://images.pexels.com/photos/356269/pexels-photo-356269.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  filter: blur(3px);
}

.cover {
  height: 100%;
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@media (min-width: 800px) {
  .player {
    width: 600px;
  }

  .album div {
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .player {
    width: 1000px;
  }

  .album div {
    width: 1000px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .player {
    width: 1000px;
  }

  .album div {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .player {
    width: 1200px;
  }

  .album div {
    width: 1400px;
    margin: 0 auto;
  }
}

@media (min-width: 2000px) {
  .player {
    width: 1400px;
  }

  .album div {
    width: 1700px;
    margin: 0 auto;
  }
}

.player {
  margin: 0 auto;
  padding-top: 15vh;
  position: relative;
}

.player .show-pic {
  float: left;
  margin-left: 10vh;
}

.img {
  height: 40vh;
  width: 40vh;
  background: url(https://images.pexels.com/photos/356269/pexels-photo-356269.jpeg?h=350&auto=compress&cs=tinysrgb) center no-repeat;
  background-size: cover;
}

.player .control>span>.fa {
  font-size: 3.5vh;
  margin-right: 2vh;
  cursor: pointer;
}

.player .control {
  margin-top: 5vh;
  display: flex;
}

.player .control span {
  flex: 1;
}

.player .control .volume-control {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player .control .collected {
  color: red;
}

.player .control .volume {
  width: 10vh;
  height: 0.8vh;
  background-color: #222;
  border-radius: 0.5vh;
  cursor: pointer;
}

.player .control .volume-now {
  width: 50%;
  height: 0.8vh;
  background-color: #999;
  border-radius: 0.5vh;
}

.player .control .volume-control .iconfont {
  font-size: 3.5vh;
  margin-right: 1.5vh;
  cursor: pointer;
}

.handle {
  margin-left: 60vh;
}

.details {
  padding: 0 0 10vh 0;
}

.details .title {
  font-size: 4vh;
  padding-bottom: 3vh;
}

.details .songer {
  font-size: 2.2vh;
}

.like {
  display: flex;
}

.like span {
  font-size: 2.5vh;
  flex: 1;
  cursor: pointer;
}

.like span i {
  padding-right: 1vh;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-bar .bar {
  flex: 1;
  height: 1vh;
  background-color: #222;
  border-radius: 0.5vh;
  margin: 6vh 2vh;
  cursor: pointer;
  position: relative;
}

.progress-bar .bar .current {
  width: 0;
  height: 1vh;
  background-color: #999;
  border-radius: 0.5vh;
  position: relative;
  transition: width 1s
}

.progress-bar .time {
  font-size: 2vh;
  float: left;
}

.progress-bar .total-time {
  font-size: 2vh;
}

.lyrics {
  margin-top: 2vh;
}

.m-lyric {
  display: none;
}

.album li:hover {
  box-shadow: 0 0 .5vh .5vh rgba(146, 146, 146, 0.8);
}

.album li.active {
  box-shadow: 0 0 .5vh .5vh rgba(146, 146, 146, 0.8);
}

.album .fa {
  font-size: 6vh;
  color: rgba(202, 202, 202, 0.4);
  transition: all 0.5s;
  opacity: 0;
  cursor: pointer;
}

.album .fa:hover {
  color: #eee;
}

.album .fa-chevron-left {
  position: absolute;
  left: 6vh;
  top: 12vh;
}

.album .fa-chevron-right {
  position: absolute;
  right: 6vh;
  top: 12vh;
}

.album:hover .fa {
  opacity: 1;
}

.album .box {
  height: 30vh;
  position: relative;
  overflow: hidden;
}

.album ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 30vh;
}

.album .category {
  margin: 3vh;
  float: left;
  text-align: center;
  cursor: pointer;
}

.album .category .pic {
  height: 20vh;
  width: 20vh;
  background: url(http://p3.music.126.net/GhIoJt4GDH1pcDPO9BaJWw==/109951162955657454.jpg) no-repeat center;
  background-size: cover;
}

.album .category p {
  margin-top: 0.5vh;
}

footer {
  position: absolute;
  bottom: 0;
  right: 2vh;
  padding: 0 10px;
}

footer span,
footer a,
footer .fa {
  color: #aaa;
  font-size: 1.8vh;
}

footer a {
  margin: 0 1vh;
}

footer a i {
  margin-right: 0.5vh;
}